@import './colors.css';

header {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    border-bottom: 2px dashed var(--light-color-blend);
    background-color: var(--primary-color);
    background-image: url('../../src/assets/bg/fabric.png');
    box-shadow: 0 0 0 4px #1F4C64, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

header ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

header ul li a {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

header .header_li a {
    position: relative;
    display: block;
    margin: 0 2px;
    padding: 0.625rem 1.25rem;
    overflow: hidden;
}

header .header_li a:before {
    box-sizing: border-box;
    transform: translateX(100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-bottom: 2px dashed transparent;
    border-left: 2px dashed transparent;
}

header .header_li a:after {
    box-sizing: border-box;
    transform: translateX(-100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-top: 2px dashed transparent;
    border-right: 2px dashed transparent;
}

header .header_li a:hover {
    color: inherit;
    text-decoration: none;
}

header .header_li a:hover:before {
    transition: 0.2s transform linear, 0.2s height linear 0.2s;
    transform: translateX(0);
    height: 200%;
    border-color: #C8CDD6;
}

header .header_li a:hover:after {
    transition: 0.2s transform linear 0.4s, 0.2s height linear 0.6s;
    transform: translateX(0);
    height: 100%;
    border-color: #C8CDD6;
}

.hidden{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    border: 2px dashed #1F4C64;
    border-radius: 0 0 20px 20px;
    background-color: var(--dark-color);
    background-image: url('../../src/assets/bg/fabric.png');
    box-shadow: 0 0 0 4px var(--dark-color-blend), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    z-index: -1;
    width: 90%;
    margin: 0% 5%;
}

.menu, .hidden{
    display: none;
}

@media screen and (max-width: 768px){
    header ul{
        display: none;
    }
    .menu{
        display: contents;
    }
    header{
        align-items: center;
    }

    .teste{
        display: block;
    }
}