@import './style/colors.css';
@import './style/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light-color);
}

body{
  background-color: var(--dark-color-blend);
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header{
  display: flex;
  padding: 2%;
  justify-content: space-between;
}

header ul{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

footer{
  text-align: center;
  padding: 2%;
  justify-self: flex-end;
  background-color: var(--dark-color-medium);
}

footer p, footer a{
  font-size: smaller;
}