@import './style/colors.css';
@import './style/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light-color);
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark-color-blend);
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header{
  display: flex;
  padding: 2%;
  justify-content: space-between;
  background: rgba(255,255,255,0.1);
}

header ul{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

header ul li a{
  text-decoration: none;
}

footer{
  text-align: center;
  padding: 2%;
  justify-self: flex-end;
  background-color: var(--dark-color);
}