@import './style/colors.css';
@import './style/fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light-color);
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  overflow: overlay;
  background-image: url('../src/assets/bg/black-linen.png');
  background-repeat: repeat;
  background-color: var(--primary-color-lighter);
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

footer{
  text-align: center;
  padding: 2%;
  justify-self: flex-end;
  background-color: var(--dark-color);
  background-image: url('../src/assets/bg/fabric.png');
  border-top: 2px dashed var(--light-color-blend);
  box-shadow: 0 0 0 4px #3E3E3E, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

@media screen and (max-width: 768px){
  footer *{
    padding: 1%;
    font-size: xx-small;
  }
  footer{
    padding: 5%;
  }
}